* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.content {
  height: 80vh;
}
.navbar {
  background-color: darkcyan !important;
}
.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: bisque;
}
.filters {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}
.icons {
  background-color: bisque;
  padding: 10px 8px;
  border: 10px 20px;
}
.anticon svg {
  font-size: 20px;
  cursor: pointer;
}
.inactive_icon {
  color: gray;
}
.active_icon {
  color: aqua;
}
